<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../dist/css/com.css">
    <link type="text/css" rel="stylesheet" href="../../dist/css/header2.css">
    <script src="../../dist/js/com.js"></script>
    <script src="../../dist/js/header2.js"></script>
</head>
<body id="h1">
<div id="header" class="header h-1">
    <div class="logo logo1"></div>
    <div class="h-banner1">
        <div class="h-box1" v-for="list1 in result">
            <div class="h-box-item1">
            <div class="h-title1"><span>{{list1.title}}</span></div>
            <div class="h-list1">
                <div class="h-item1" v-for="list2 in list1.list"><a>{{list2.name}}</a></div>
            </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>