<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../dist/css/com.css">
    <link type="text/css" rel="stylesheet" href="../../dist/css/header3.css">
    <script src="../../dist/js/com.js"></script>
    <script src="../../dist/js/header1.js"></script>
</head>
<body id="h1">
<div id="header" class="header">
    <div class="logo"></div>
    <div class="h-banner">
        <div class="h-box" v-for="list1 in result">
            <div class="h-title">{{list1.title}}</div>
            <div class="h-list">
                <div class="h-list-box">
                <a class="h-item" v-for="list2 in list1.list">{{list2.name}}</a>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>