@sw: 300px;
@sw1:200px;
@fonts: 20px;
@color3:#333;
.swiper-container {
  height: @sw;

  .swiper-wrapper {
    height: @sw;
    .swiper-slide {
      height: @sw;
      color: @color3;
      text-align: center;
      line-height: @sw;
      font-size: @fonts;
      width:50%;
    }
  }
}


