@import "../main.less";
@import "../index.less";


.swiper-container {
  height: @w300;

  .swiper-wrapper {
    height: @w300;
    .swiper-slide {
      height: @w300;
      color: @color4;
      text-align: center;
      line-height: @w300;
      font-size: @fonts20;
      width:50%;
    }
  }
}


