.header{
    height: 82px;
    background-color: #000;

}
.logo{
    height: 62px;
    width: 144px;
    background: url('img/logo.png');
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
.history-back{
    border-radius: 50px;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    background-color: #000;
    color: #fff;
}
.example-box{
    margin:0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}
.example-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.example-list{
    overflow: hidden;
}
.example-list>a{
    float: left;
    padding: 0 10px;
}
